@page "/"
@inherits IndexModel

@if (toDoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ToDoListComponent ToDoList="toDoList" Delete="Delete" UpdateEvent="Update"></ToDoListComponent>
}
<CreateToDoComponent NewToDo="Create"></CreateToDoComponent>
