@inherits LayoutComponentBase

<MatAppBarContainer>
    <NavMenu></NavMenu>

    <MatAppBarContent>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">@Body</div>
                
            </div>
        </div>
        
    </MatAppBarContent>
</MatAppBarContainer>
