@inherits LayoutComponentBase

<MatAppBarContainer>
    <NavMenu></NavMenu>

    <MatAppBarContent>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell-alight-middle mat-layout-grid-cell-span-12" style="margin: auto">
                    @Body
                </div>
                
            </div>
        </div>
        
    </MatAppBarContent>
</MatAppBarContainer>
